{% extends "layouts/base.html" %}

{% block title %} UI Accordions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}


        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">Decryption</h1>
                        <p class="lead mb-5"> Upload files in  <span class="fw-bold">.txt format</span> fo encryption. The files will be processed and kept in the history for future use and observations</p>
                        <div class="alert bg-secondary" role="alert">
                            <span class="fas fa-info-circle"></span>
                            <a class="fw-bold text-white text-underline mx-1" href="" target="_blank">See our Documentation</a> for a detailed technical explanation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

<div class="container mt-5">
    <form  action="{% url 'upload_files_dec' %}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label for="{{form.file_name.id_for_label}}">File Name</label>
          {{form.file_name}}
        </div>
        <div class="form-group">
            <label for="{{form.files_data.id_for_label}}">File</label>
            {{form.files_data}}
          </div>
          {% csrf_token %}
               <hr>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>



    </main>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}




